div {

    text-align: center;

    border: 1px rgba(0, 0, 0, 0.89) solid;
    background-color: lightblue;
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 80px;

    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 500px;
    margin-left: 100px;


}